NARU_NAME=Your Name
NARU_PHONE=9999999999
NARU_GUEST_NAMES=Guest One, Guest Two, Guest Three
NARU_GUEST_COUNT=<number of guests. max 3 for bar seating. max 6 for table seating>
NARU_SEATING_TYPE=(table/bar)
NARU_BOOKING_DAYS=all/(sunday,tuesday,wednesday,thursday,friday,saturday)
NARU_BOOKING_TIME=all/(12:30,2:30,4:30,6:30,8:30)
NARU_BOOKING_UPI=<upi id>
#table flow, sms sending date and time when booking was madeIit,fill all boxes together